        body{
            margin: 0;
            background-color: rgba(189, 189, 189, 0.295);
            font-family: 'Courier New', Courier;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }
        .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        }
        
        .disc_params{
            background-color: rgba(204, 201, 250, 0.397);
            width: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .window-style{
            border: 2px black solid;
            border-radius: 15px;
            background-color: rgba(204, 201, 250, 0.397);
        }
        .counter{
            box-sizing: border-box;
            height: 50px;
            width: 200px;
            border: 2px black solid ;
            border-radius: 10px;
            display: flex;
            :hover{
                cursor: pointer;
            }
        }
        .counter button{
            width: 33%;
            padding: 0;
            background-color: rgb(126, 133, 229);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 30px;
            font-family: 'Courier New', Courier, monospace;
            border: 0px;
        }
        .counter button:hover{
            filter: brightness(85%);
        }
        .counter input{
            width: 33%;
            font-size: 30px;
            text-align: center;
            border: none;
        }
        .counter input:focus{
            outline: none; 
        }
        .textinput_unit{
            display: flex;
            justify-self: center;
            width: 100%;
            text-align: center;
            padding: 0 5px;
            border: 0;
            border-radius: inherit;
            font-size: 20px;
        }
        .textinput_unit:focus{
            outline: none;
        }

        .textinput{
            width: 80px;
            height: 40px;
            box-sizing: border-box;
            border: 2px black solid;
            border-radius: 10px;
            padding: 0;
            text-align: center;
            font-size: 20px;
        }
        .textinput:focus{
            outline: none; 
        }
        .button{
            height: 40px;
            width: 180px;
            box-sizing: border-box;
            border: 2px black solid;
            border-radius: 10px;
            font-size: 20px;
            background-color: rgb(126, 133, 229);
        }
        .button:hover{
            filter: brightness(85%);
        }
        .download_form{
            height: inherit;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
        }
        .import{
            text-align: center;
            vertical-align:middle;
        }
        .mirror_checkbox{
            margin: 0;
            position: relative;
            left: 0px;
            top: 10px;
            z-index: 0;
            -webkit-appearance: none;
        }
        .mirror_checkbox::before {
            width: 60px;
            height: 30px;
            border-radius: 30px;
            border: 2px solid #747474;
            background-color: #EEE;
            content: "";
            margin-right: 15px;
            transition: background-color 0.5s linear;
            z-index: 5;
            position: absolute;
            left: 0px;
        }
        .mirror_checkbox::after{
            height: 25px;
            width: 25px;
            border-radius: 12.5px;
            background-color:  rgb(126, 133, 229);
            z-index: 6;
            content: "";
            position: absolute;
            top: 4.06px;
            left: 5px;
            transition: left 0.3s, background-color 0.3s;
        }
        .mirror_checkbox:checked::after{
            background-color: rgb(53, 134, 53);
            left: 34px;
            transition: left 0.3s, background-color 0.3s;
        }
        .mirror_checkbox:checked::before{
            background-color: rgba(53, 134, 53, 0.221);
            transition: background-color 0.4s;
        }
        .unit_label{
            height: 100%;
            padding: 0 5px; 
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px; 
            align-content: center; 
            font-size: 21px; 
            font-weight: 600; 
            background-color: gray;
        }

        .scale_checkbox{
            position: relative;
            width: 30px;
            margin: 0;
            z-index: 0;
            appearance: none;
            -webkit-appearance: none;
        }
        .scale_checkbox::before {
            width: 30px;
            height: 15px;
            border-radius: 30px;
            border: 2px solid #747474;
            background-color: #EEE;
            content: "";
            margin-right: 15px;
            transition: background-color 0.5s linear;
            z-index: 2;
            position: absolute;
            left: 0px;
        }
        .scale_checkbox::after{
            height: 12px;
            width: 12px;
            border-radius: 12.5px;
            z-index: 3;
            content: "";
            position: absolute;
            top: 4px;
            left: 5px;
            transition: left 0.3s, background-color 0.3s;
        }
        .scale_checkbox:checked::after{
            left: 17px;
            transition: left 0.3s, background-color 0.3s;
        }
        .after_blue::after{
            background-color:  rgb(126, 133, 229);
        }
        .after_red::after{
            background-color: rgb(155, 38, 38);
        }


        .pos_dis_input label{
            padding: 3px 8px;
            background-color: rgba(191, 197, 191, 0.97);
            box-shadow: inset -1px -1px gray;

        }

        .pos_dis_input label:hover{
            filter: brightness(95%);
        }
